<div id="navBar">
    <ul class="nav">
        <!--immagine di logo-->
        <a id="imgNav" class="m-1" [routerLink]="['/']"><img src="../../../assets/Logo.png"></a>
        <li class="nav-item m-3">
            <a class="nav-link active" id="hoverNav" aria-current="page" [routerLink]="['/veicoli']">Flotta</a>
        </li>
        <li class="nav-item m-3">
            <a class="nav-link active" id="hoverNav" aria-current="page" [routerLink]="['/ricerca']">Ricerca</a>
        </li>
        <li class="nav-item m-3">
            <a class="nav-link active" id="hoverNav" aria-current="page" [routerLink]="['/chisiamo']">Chi Siamo</a>
        </li>
    </ul>
</div>