  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

  * {
    font-family: 'Poppins', sans-serif !important;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
  }